<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sm.l3.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name="com.sm.l3.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sm.l3.demo.CustomActivity" />
        <activity android:name="com.sm.l3.demo.PreAuthActivity" />
        <activity android:name="com.sm.l3.demo.RefundActivity" />
        <activity android:name="com.sm.l3.demo.VoidActivity" />
        <activity android:name="com.sm.l3.demo.ResultActivity" />
        <activity android:name="com.sm.l3.demo.SaleActivity" />
        <activity android:name="com.sm.l3.demo.InquiryByLocalActivity" />
        <activity android:name="com.sm.l3.demo.SettlementActivity" />
        <activity android:name="com.sm.l3.demo.PrintActivity" />
        <activity android:name="com.sm.l3.demo.InquiryByOnlineActivity" />

        <receiver android:name="com.sm.l3.demo.ResultReceiver">
            <intent-filter>
                <action android:name="sunmi.payment.L3.RESULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".socket.WebSocketActivity" />

    </application>

</manifest>
